.upcoming{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.upcoming-task{
    background-color: #14b8a6;
    border-radius:.5rem;
    width:22rem;
    padding:.5rem;
}
.upcoming-task>h1{
    font-size: 1rem;
    font-weight: bold;
    color:#fff;
}